p {
  font-family: Lato;
}
.main-container {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}
.item {
  align-items: center;
  flex: 1 1 auto;
  flex-basis: 0;
  justify-content: center;
  padding: 2rem;
  margin: auto;
  margin-left: 1px;
  text-align: center;
  background-color: yellow;
}

.red-font {
  color: red;
}

a {
  text-decoration: none;
  text-align: center;
}

img {
  flex: 1 1 auto;
  height: 100px;
  width: auto;
}
